// COLORS

$color-primary-dark: #10141E;
$color-red: #FC4747;
$color-white: #FFF;
$color-lightgray: #C2C2C2;
$color-secondary-gray: #5A698F;
$color-secondary-dark: #161d2f;
$color-black: #000000;

// BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// FONTS
$font-family: 'Outfit', sans-serif;
$light: 300;
$medium: 500;
$font-heading-large: $light 32px $font-family;
$font-heading-medium: $light 24px $font-family;
$font-heading-small: $medium 24px $font-family;
$font-heading-xsmall: $medium 18px $font-family;
$font-body-medium: $light 15px $font-family;
$font-body-small: $light 13px $font-family;

// BORDER RADII
$border-radius-small: 10px;
$border-radius-medium: 15px;

// Z-INDEX
$z-index-medium: 200;
$z-index-high: 201;