// COLORS

$color-primary-dark: #10141E;
$color-red: #FC4747;
$color-white: #FFF;
$color-lightgray: #969696;
$color-secondary-gray: #5A698F;
$color-secondary-dark: #161D2F;

// BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// FONTS
$font-family: 'Outfit', sans-serif;
$light: 300;
$medium: 500;
$font-head-large: $light 32px $font-family;
$font-heading-medium: $light 24px $font-family;
$font-heading-small: $medium 24px $font-family;
$font-heading-xsmall: $medium 18px $font-family;
$font-body-medium: $light 15px $font-family;
$font-body-small: $light 13px $font-family;