// COLORS

$color-primary-dark: #10141E;
$color-orange: #FC4747;
$color-white: #FFF;
$color-secondary-gray: #5A698F;
$color-secondary-dark: #161D2F;

// BREAKPOINTS

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

