@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.base {
    display: flex;
    flex-direction: column;
    @include desktop {
       flex-direction: row; 
    }

    &__content {
        width: 100%;
        padding-top: 4rem;
        @include tablet {
            padding-top: 11rem;
        }
        @include desktop {
            padding-left: 10rem;
            padding-top: 7rem;
        }
    }
}

.home {
    &__heading{
        display: flex;
        justify-content: flex-start;
        padding-left: 1rem;
        font-weight: 200;
        font-size: 1.4rem;

        @include tablet {
            padding-left: 1.5rem;
            font-size: 2rem;
        }

        @include desktop {
            padding-left: 0;
        }
    }
}
 