@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    @include desktop {
       flex-direction: row; 
    }
}

.home {
    padding-top: 2rem;

    &__heading{
        display: flex;
        justify-content: flex-start;
        font-weight: 300;
        font-size: 2rem;
    }
}
 