@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.searchbar {
    display: flex;
    position: fixed;
    background-color: $color-primary-dark;
    align-items: center;
    margin: 1.5em 1em; 
    width: calc(100vw - 3em);
    height: 24px;

    @include tablet {
        height: 32px;
        top: calc(72px + 1em)
    }

    @include desktop {
        top: .5em;
        margin-left: calc(4em + 96px);
        // viewwidth - search bar margin - size of navbar and its margins
        width: calc(100vw - 3em - calc(4em + 96px));
    }

    &__imgcontainer {
        width: 24px;
        height: 24px;
        margin-right: 1.5em;

        @include tablet {
            width: 32px;
            height: 32px;
        }

        img {
            width: inherit;
            height: inherit;
        }
    }
    
    textarea {
        flex: 1; 
        outline: none;
        border: none;
        resize: none;
        background-color: $color-primary-dark;
        overflow: hidden;
        white-space: nowrap;
        caret-color: $color-red;
        font: $font-body-medium;
        height: 32px;
        padding-top: 6px;

        @include tablet {
            font: $font-heading-medium;
            height: 40px;
            padding-top: 4px;
        }

        &:focus-within {
            border-bottom: 1px solid $color-white;
          }
    }
}