@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;

  @include desktop {
    // Center vertically for desktop screens
    margin-top: 0;
    height: 100vh; // Ensure full height of the viewport
  }

  &__header {
    display: flex;
  }

  &__sub {
    &-heading {
      padding-bottom: 0.5rem;
    }
  }

  &__container {
    border-radius: 10px;
    margin: 2rem;
    padding: 2rem;
    width: 327px;

    h3 {
      font: $font-head-large;
    }

    @include tablet {
      border-radius: 20px;
      width: 400px;
    }

    @include desktop {
      border-radius: 20px;
      width: 400px;
    }
  }

  &__container, &__container * {
    background-color: $color-secondary-dark;
    font: $font-body-small;
  }

  &__form {
    display: flex;
    flex-direction: column;
    

    &-inputdiv{
      margin: 2em 0;
    }

    &-input {
      &-container {
        display: flex;
        border-bottom: 1px solid $color-secondary-gray;
        padding-right: 1rem;

        &:focus-within {
          border-bottom: 1px solid $color-white;
        }

        &--error {
          display: flex;
          border-bottom: 1px solid $color-red;
          padding-right: 1rem;
        }
      }

      border: none;
      width: 100%;
      padding: 1em;
      caret-color: $color-red;

      &--error {
        color: $color-red;
        display: flex;
        white-space: nowrap;
      }

      &:focus {
        outline: none;
      }

      &::-ms-reveal {
        filter: invert(70%);
      }
    }


    & button {
      border: none;
      border-radius: 6px;
      background-color: $color-red;
      padding: 1em;
      transition: background-color 0.3s ease, color 0.3s ease;
      
      &:hover {
        background-color: $color-white;
        color: $color-primary-dark;
      }

      &:active {
        background-color: $color-secondary-gray;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 1em;
  }

  a {
    color: $color-red;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: $color-white;
    }

    &:active {
      color: $color-secondary-gray;
    }
  }

}
