@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.profile-menu {
  position: relative;
  display: inline-block;
  z-index: $z-index-medium;

  .profile-menu__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -33px;
    left: 70px;
    background-color: $color-secondary-dark;
    border: 1px solid $color-primary-dark;
    border-radius: $border-radius-medium;
    overflow: hidden;
    z-index: $z-index-medium;
    width: 150px;

    .profile-menu__option {
      padding: .5rem 1rem;
      text-decoration: none;
      color: $color-white;
      border-bottom: 1px solid $color-primary-dark;
      z-index: $z-index-medium;

      &:hover {
        background-color: $color-primary-dark;
        z-index: $z-index-medium;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @media (max-width: $breakpoint-desktop) {
      top: 15px;
      left: -150px;
      bottom: calc(-100% + -55px);
      border-radius: $border-radius-small;
      z-index: $z-index-high;
    }

    @media (max-width: $breakpoint-tablet) {
      top: auto;
      bottom: calc(100% + 15px);
      left: -120px;
      border-radius: $border-radius-small;
      z-index: $z-index-medium;
    }
  }

  .navbar__profile-picture {
    cursor: pointer;
    z-index: $z-index-high;
  }
}