.profile-menu {
  position: relative;
  display: inline-block;
  z-index: 200;

  .profile-menu__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -33px;
    left: 70px;
    background-color: rgb(22, 29, 47);
    border: 1px solid rgb(15, 19, 31);
    border-radius: 15px;
    overflow: hidden;
    z-index: 200;
    width: 150px;

    .profile-menu__option {
      padding: 8px 12px;
      text-decoration: none;
      color: white;
      border-bottom: 1px solid rgb(15, 19, 31);
      z-index: 200;

      &:hover {
        background-color: rgb(15, 19, 31);
        z-index: 200;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @media (max-width: 1024px) {
      top: calc(100% + 10px);
      left: -100px;
      border-radius: 15px;
      z-index: 200;
    }

    @media (max-width: 600px) {
      top: auto;
      bottom: calc(100% + 10px);
      left: 0;
      border-radius: 10px;
      z-index: 200;
    }
  }

  .navbar__profile-picture {
    cursor: pointer;
    z-index: 201; 
  }
}