@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.profileList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  &__card {
    background-color: $color-secondary-dark;
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-text {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  }
}