@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.switchProfiles {
  color: $color-white;
  &__header {
    text-align: center;
    margin-top: -3rem;
    font-weight: 200;
    font-size: 1.4rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    @include tablet {
      align-items: center;
      margin-bottom: 0;
    }
  }
}
