@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.No-Bookmarks-Found {
    padding-top: 30vh;
    text-align: center;
    font: $font-heading-medium;
    color: $color-white;
}