@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;

  @include tablet {
    width: 6rem;
    height: 6rem;
  }
}
