@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.verification-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font: $font-body-medium;
    background-color: $color-red;
    color: $color-white;
    padding: 10px;
    text-align: center;
    z-index: 10;
  }
  
  .unverified {
    background-color: $color-red;
  }
  
  .verified {
    background-color: #28A745;
  }