@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.trendcard {
    &s {
        padding: 1rem;
        display: flex;
        overflow-x: auto;
        gap: 1rem;

        /* Hide scrollbar */
        -ms-overflow-style: none;  /* Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;  /* Safari and Chrome */
        }

        @include tablet {
            padding: 1.5rem;
            gap: 1.5rem;
        }

        @include desktop {
            margin: 2rem 2rem 2rem 0;
            padding: 0 0 1rem 0;
            gap: 2rem;
            overflow: hidden;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: .5em;
            }

            &::-webkit-scrollbar-track {
                background: $color-secondary-dark;
                border-radius: 100vw;
                margin-inline: 1em;
            }

            &::-webkit-scrollbar-thumb {
                background: $color-secondary-gray;
                border-radius: 100vw;
            }

            @supports (scrollbar-color: $color-secondary-gray $color-secondary-dark) {
                scrollbar-color: $color-secondary-gray $color-secondary-dark;
                scrollbar-width: thin;

            }
        }

    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 75%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    border-radius: 10px;

    @include tablet {
        flex: 0 0 66%;
        aspect-ratio: 13 / 6;
    }

    @include desktop {
        flex: 0 0 30%;
        aspect-ratio: 2 / 1;
    }

    &__info { 
        display: flex;
        align-items: center;

        @include tablet {
            padding-bottom: 0.5rem;
        }

        &-bullet {
            padding: 0  8px;
            color: $color-lightgray;
        }

        &-text {
            font-size: 0.9rem;
            font-weight: 200;
            color: $color-lightgray;

            @include tablet {
                font-size: 1.1rem;
            }
        }

        &-category {
            &-container {
                display: flex;
                align-items: center;
            }
            &-icon {
                padding-right: 5px;
                height: 13px;

                @include tablet {
                    height: 15px;
                }
            }
        }

        &-title {
            color: $color-white;
            font-size: 1.1rem;
            font-weight: 300;

            @include tablet {
                font-size: 1.4rem;
            }
        }
    }
}