@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.account {
  &__heading {
    margin-top: -50px;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 200;
    font-size: 1.4rem;
    color: $color-white;

    @include tablet {
      font-size: 2rem;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5em;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
      max-width: 90%;
    }

    @include desktop {
      max-width: 56.25rem;
    }

    &-title {
      font-size: 1rem;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    &-email {
      font-size: 0.9rem;
      font-weight: 200;

      @include tablet {
        font-size: 1.1rem;
      }
    }

    &-row {
      width: 100%;
      height: 5rem;
      padding: 1rem 1rem 1rem 2rem;
      display: flex;
      align-items: center;
      background-color: $color-secondary-dark;
      color: $color-white;
      border: none;
      font: $font-heading-xsmall;
      cursor: pointer;

      p {
        margin-left: auto;
        margin-right: 10px;
        color: $color-lightgray;
      }

      &:first-child {
        border-radius: 15px 15px 0 0;
      }

      &:nth-child(4) {
        border-radius: 0 0 15px 15px;
      }

      &:not(:nth-child(4)) {
        border-bottom: 1px solid black;
      }
    }
  }
}

.delete-btn-container {
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  width: 225px;
  padding: 15px;
  margin-top: 20px;
  background-color: $color-secondary-gray;
  border: none;
  border-radius: 5px;
  color: $color-white;
  cursor: pointer;
  font: $font-body-medium;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $color-red;
  }
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: $z-index-high; 
}

.delete-modal-content {
  text-align: center;
  width: 500px; 
  max-width: 90%;
  height: 45vh;
  padding: 1rem 2rem;
  background-color: $color-secondary-dark;
  color: $color-white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  h2 {
    margin-bottom: 20px; 
  }

  p {
    margin-bottom: 15px; // Adjusts spacing as needed
  }
}

.delete-password-input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-secondary-dark;
  margin: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid $color-secondary-gray;
  width: 75%;
  max-width: 400px;
  margin: 1rem auto;

  &:focus-within {
    border-bottom: 1px solid $color-secondary-gray;
  }

  .delete-password-input {
    width: 100%;
    padding: 1rem;
    height: 10px;
    font-size: 16px;
    background-color: $color-secondary-dark;
    color: $color-white;
    border: none;
    outline: none; 
    caret-color: $color-red;

    &--error {
      color: $color-red;
      border-bottom: 1px solid $color-red;
    }

    &:focus {
      outline: none; 
      border: none; 
      width: 100%;
    }

    &::-ms-reveal {
      filter: invert(70%);
    }
  }
}

  .toggle-password-visibility {
    position: absolute;
    color: $color-white;
    right: -.5rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
  }


.confirm-delete-btn,
.cancel-delete-btn {
  margin-top: 15px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete-btn {
  background-color: $color-red;
  color: $color-white;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: darken($color-red, 10%);
  }
}

.cancel-delete-btn {
  background-color: $color-secondary-gray;
  color: $color-white;
  margin-left: 10px;

  &:hover {
    background-color: darken($color-secondary-gray, 10%);
  }
}

.arrow-icon {
  margin-left: auto;
}

span {
  margin-left: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__form-input {
    &--error {
      color: $color-red;
      display: flex;
      white-space: nowrap;
      height: 40px;
      padding: 0.5em 0;
    }

    &-container {
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: 1px solid $color-secondary-gray;

      &:focus-within {
        border-bottom: 1px solid $color-white;
      }

      &--error {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        display: flex;
        border-bottom: 1px solid $color-red;
        padding-right: 1rem;
      }
    }

    &-container--error {
      display: flex;
    }
  }

  &-content {
    background: $color-secondary-dark;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;

    @include tablet {
      border-radius: 20px;
    }

    h2 {
      font: $font-heading-large;
      margin-bottom: 1em;
      color: $color-white;
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 1rem;
      background-color: $color-secondary-dark;
      color: $color-white;
      caret-color: $color-red;

      &:focus {
        outline: none;
      }

      &::-ms-reveal {
        filter: invert(70%);
      }
    }

    button {
      width: 100%;
      padding: 1em;
      margin-top: 10px;
      border: none;
      border-radius: 6px;
      color: $color-white;
      cursor: pointer;
      font: $font-body-medium;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $color-white;
        color: $color-primary-dark;
      }

      &:active {
        background-color: $color-secondary-gray;
      }
    }
  }
}

.update-message {
  margin-top: 2rem;
  color: $color-white;
}

.cancel__button {
  background-color: $color-secondary-gray;
}

.Update-Password__button,
.close__button {
  background-color: $color-red;
}

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
